<% if logged_in? %>
  <%= render 'static_pages/user_logged_in' %>
<% else %>
  <%= render 'static_pages/user_not_logged_in' %>
<% end %>
            
<%#= link_to image_tag("kitten.jpg", alt: "kitten picture"),
            'http://rubyonrails.org/' %>

